@inherits UmbracoViewPage<List<UserViewModel>>
@using UmbracoStart.Models.User

<table class="table table-striped">
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.EmailAddress</td>
                <td> <a href="@Url.Action("DeleteUser", "User", new { id = user.Id })">Delete</a> </td>
            </tr>
        }
    </tbody>
</table>
