@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "WebBase.cshtml";
}

<div id="fh5co-blog-section">
    <div class="container">
        @{ Html.RenderAction("RenderTitleControls", "SiteLayout"); }
        @{ Html.RenderAction("RenderPostList", "Blog", new { numberOfItems = 6 }); }
    </div>
</div>


@{
	var selection = Model.Content.Site().FirstChild("blog").Children("blogPost")
						.Where(x => x.IsVisible())
						.OrderBy("CreateDate desc");
}
<ul>
	@foreach(var item in selection){
		<li>
			<a href="@item.Url">@item.Name</a>
		</li>
	}
</ul>

