<?xml version="1.0"?>
<dashBoard>
  <!-- Root of the dashboard XML tree -->
  <section>
    <!-- Defines a dashboard layout for a group of sections -->
    <areas>
      <!-- Declares which sections (i.e. content,media,users,[your own]-->
      <area>developer</area> <!-- A section to apply this to -->

    </areas>

    <tab caption="">
      <!-- Creates a tab in the Dashboard with the assigned caption -->
      <control></control>
      <!-- What control(v6) / AngularJS View (v7) to load in that tab -->
    </tab>

  </section>

</dashBoard>